footer {
  height: $nav-footer-height;
  background-color: $site-background;

  .footer-content {
    max-width: $content-width;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;

    .fa-instagram {
      margin: auto;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  }

  .fa-square-facebook {
      margin: auto;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  }

  .fa-twitter {
      margin: auto;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  }
  }
}
